



{#    VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB #}
{#    VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB #}
{#    VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB #}
{#    VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB #}

{#    <section class="mt-4 w-96 mx-auto ">#}
{#        <div class="bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 ">#}
{#            <a href="#">#}
{#                <img class="rounded-t-lg object-cover " src="{{ asset('images/route.jpg') }}" alt="">#}
{#            </a>#}
{#            <div class="p-5">#}
{#                <a href="#">#}
{#                    <h5 class="text-center mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Voie sur berge</h5>#}
{#                </a>#}
{#            </div>#}
{#                #}{# emerald = ouvert remplacer emerald par :    #}
{#                #}{# - amber pour ralenti  #}
{#                #}{# - orange pour embouteiller  #}
{#                #}{# - red pour fermer  #}
{#                #}{# ps: si tu aime pas emerald essay green#}
{#            <p class="text-center bg-emerald-100 text-emerald-800 text-sm font-medium px-4 py-4 dark:bg-emerald-200 dark:text-emerald-900"> ici remplacer par la variable feedback "Ouvert - fermer..."</p>#}
{#            <p class="p-5 text-center text-blue-800 text-xs font-medium rounded dark:bg-blue-200 dark:text-blue-800">#}
{#                &#128472; 2 minutes ago</p>#}

{#        </div>#}
{#        <a href="" class="mt-4 italic block text-center text-xs font-mono text-gray-600 underline decoration-sky-400">Source des données</a>#}
{#    </section>#}

{#    VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB #}
{#    VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB #}
{#    VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB #}
{#    VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB VSB #}

