{{ form_start(form) }}
    {{ form_widget(form) }}
<button type="submit"
        class="mt-4 text-white
        bg-cyan-600 hover:bg-sky-800
        focus:ring-4
        focus:ring-sky-300
        font-medium rounded-lg text-sm px-4 py-2 mr-2 mb-2
        dark:bg-sky-600 dark:hover:bg-sky-700
        focus:outline-none
        dark:focus:ring-sky-800">{{ 'app.save'| trans }}</button>
{{ form_end(form) }}
